.deleteFavourites {
  margin-left: 1344px;
  background: #eef6e6;
  border: 4px solid #000000;
  font-size: 32px;
  font-weight: bold;
}
.deleteFavourites:hover {
  color: #1b3815;
  cursor: url(/../src/img/link.cur), auto;
}
