.header {
  background: url("../../../img/header.jpg");
  width: 100%;
  height: 200px;
  .titleHeader {
    font-size: 64px;
    color: #ebebeb;
    position: absolute;
    margin: 70px 722px;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
  }
}
