.containerEntrance {
  width: 350px;
  margin: auto;
  color: black;
  padding-top: 255px;
  .containerEntranceGrin {
    background-color: #57b846;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    display: flex;
    justify-content: center;

    h2 {
      font-family: "Inter", sans-serif;
      color: white;
      font-size: 26px;
    }
  }
  .containerEntranceWhite {
    background: white;
    padding: 30px 20px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    height: 350px;
  }
}
