.input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #ebebeb;
  color: #1b3815;
  border-radius: 100px;
  margin-bottom: 10px;
  border: none;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
